<h1>Welcome to Example.com, <%= @user.username %>!</h1>



<p>
  If you made this request, please click the link below to activate your account:
</p>

<p>
  <a href="<%= @confirmation_url %>" 
     style="display:inline-block;
            background-color:#1a59a1;
            color:white;
            padding:10px 15px;
            text-decoration:none;
            border-radius:5px;">
    Confirm Your Email
  </a>
</p>

<p>
  If this is not you , you can safely ignore this email.
</p>

<p>Thank you,<br>The Example.com Team</p>
