<h1>Welcome to Example.com, <%= @user.username %>!</h1>

<p>We received a request to reset your password.</p>

<p>
  If you made this request, please click the link below to reset your password:
</p>

<p>
  <a href="<%= @reset_url %>" 
     style="display:inline-block;
            background-color:#147228;
            color:white;
            padding:10px 15px;
            text-decoration:none;
            border-radius:5px;">
    Reset Your Password
  </a>
</p>

<p>
  If you didn’t request a password reset, you can safely ignore this email.
</p>

<p>Thank you,<br>The Example.com Team</p>
